<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Book Store API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con" id="app">
    <div class="col-span-full">
        <h2> My Favourite Books</h2>
        <p>Enjoy your journey through the literay landscape of my favourite reads.</p>
        <p> Click on a book to find out more about it.</p>
        <ul id="book-list">
            <li v-for="manga in mangasData">
                <!-- thumbnail to be added by students, v-bind -->
                <h3>Title: 
                    <a href="#manga" @click= "getManga(manga.title)">
                    {{manga.title}}
                </a>
                </h3>
                <h4>Published: {{manga.published_date}}</h4>
            </li>
        </ul>

    </div>
    <div class="col-span-full" id="bookInfoCon"></div>
    <div v-if="error">{{error}}</div>
    <div v-if="!error" id="book">
        <p>Mangaka: {{mangakaName}}</p>
        <p>Number of pages: {{numberOfPages}}</p>
        <p>Rating: {{ratingsAverage}}</p>
        <p>First Sentence: {{firstSentence}}</p>
    </div>
    </div>
</body>
</html>