/* Transitions for slide-fade animations */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: opacity .5s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    filter: blur(5px);
}

/* Manga info container styling */
#mangaInfoCon {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(141, 141, 141, 0.499);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    #manga {
        font-size: auto;
        background-color: rgba(255, 255, 255, 0.397);
        padding: 20px 60px;
        margin: 5rem;
        border-radius: 10px;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1), 0 4rem 8rem rgba(0, 0, 0, 0.1);
    }
}

/* Background scroll animation */
@keyframes bg-scroll {
    to {
        background-position: bottom center;
    }
}

/* Manga list styling */
#manga-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    border-radius: 10px;

    li {
        flex-basis: calc(25% - 20px);
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 10px;
            box-shadow: 2px 2px 4px rgb(0, 0, 0), 2px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

/* Responsive adjustments for manga list */
@media (max-width: 768px) {
    #manga-list li {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    #manga-list li {
        flex-basis: 100%;
    }
}

/* Close lightbox button styling */
#closeLightboxBtn {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #E63946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: darken(#E63946, 10%);
        transform: translateY(-2px);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(230, 57, 70, 0.5);
    }
}

/* Text elements styling */
h2 {
    color: crimson;
    margin-top: 20px;
    font-size: 38px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Book list styling */
#book-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;

    li {
        margin-bottom: 30px;
    }
}